@use "variables";
.Wrapper{
  background: url("@/assets/images/bg-sidebar-desktop.svg");
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}
.Step-Wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 'a b'
                       'a c';
  align-items: center;
  padding: 5px;
  & > *{
    color: variables.$Alabaster;
    text-transform: uppercase;
  }
  &__number{
    grid-area: a;
    border: 1px solid variables.$Alabaster;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &__step{
    grid-area: b;
  }
  &__info{
    grid-area: c;
  }
}

@media (max-width: 375px) {
  .Wrapper{
    background: url("@/assets/images/bg-sidebar-mobile.svg");
  }

}